<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--
        1、配置Servlet类,并起一个别名
            servlet-class 告诉Tomcat对应的要实例化的Servlet类
            Servlet-name 用于关联请求的映射路径
    -->
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.futurebytedance.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>

    <!--
        一个servlet-name 可以同时对应多个url-pattern
        一个servlet标签可以同时对应多个servlet-mapping标签

        url-pattern
            1 精确匹配
                /servlet1
            2 模糊匹配
                *作为通配符,*在哪里,哪里就是模糊的
                /        匹配全部,不包含jsp文件
                /*       匹配全部,包含jsp文件
                /a/*     匹配前缀,后缀模糊
                *.action 匹配后缀,前缀模糊
    -->
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>com.futurebytedance.servlet.Servlet1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <!--精确匹配-->
        <url-pattern>/servlet1</url-pattern>
<!--        <url-pattern>/xx1</url-pattern>-->
<!--        <url-pattern>/*</url-pattern>-->
    </servlet-mapping>

<!--    <servlet-mapping>-->
<!--        <servlet-name>servlet1</servlet-name>-->
<!--        <url-pattern>/s2</url-pattern>-->
<!--        <url-pattern>/xx2</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>servletLifeCycle</servlet-name>-->
<!--        <servlet-class>com.futurebytedance.servlet.ServletLifeCycle</servlet-class>-->
<!--        &lt;!&ndash;-->
<!--            默认值是-1 含义是tomcat启动时不会实例化该servlet-->
<!--            其他正整数 15 含义是 tomcat在启动时,实例化该servlet的顺序-->
<!--                                如果需要冲突了,Tomcat会自动协调启动顺序-->
<!--        &ndash;&gt;-->
<!--        <load-on-startup>-1</load-on-startup>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>servletLifeCycle</servlet-name>-->
<!--        <url-pattern>/servletLifeCycle</url-pattern>-->
<!--    </servlet-mapping>-->
    
    <servlet>
        <servlet-name>servletConfig1</servlet-name>
        <servlet-class>com.futurebytedance.servlet.config.ServletConfig1</servlet-class>
        <init-param>
            <param-name>keya</param-name>
            <param-value>valueA</param-value>
        </init-param>
        <init-param>
            <param-name>keyb</param-name>
            <param-value>valueB</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>servletConfig1</servlet-name>
        <url-pattern>/servletConfig1</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
</web-app>